
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";
@import "admin";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
  background-color: white;
  font-family: Mebinac;
}

.header_logo{
  font-size:2em;
  font-weight: 800;
  float:left;
  color:black;

}

.logo_end{
  color:#ff9f35;
  font-size:1.3em;
}


.navbar {
  ul{
    margin-top:22px;
  }

  button{
    margin-top:25px;
  }


}

.nav{
  a {
    letter-spacing: .12em !important;
    line-height: 1.5em !important;
    text-decoration: none !important;
    display: block !important;
    color: black !important;
  }
  a:hover {
    color: #ff9f35 !important;
  }
}

.Home_rap{
  width:90%;
  margin: 0 auto;
  max-width: 1000px;
}

.Home_rap .Home_title{
  font-size: 3em;
  padding-top:5em;
  padding-bottom:2em;
  color:black;
  font-weight: 400;
  text-align: center;

  a{
    color:black;
    font-weight:400;
    text-decoration: none;
    text-shadow: 0.03em 0.03em #fff, -0.03em 0.03em #fff, 0.03em 0.03em #fff, 0.03em -0.09em #fff, 0.06em 0.03em #fff, -0.06em 0.03em #fff, 0.09em 0.03em #fff, -0.09em 0.03em #fff, 0.12em 0.03em #fff, -0.12em -0.07em #fff, 0.15em 0.03em #fff, -0.15em 0.03em #fff;
    background-image: linear-gradient(#fff,#fff),linear-gradient(#fff,#fff),linear-gradient(#ff9f35,#ff9f35);
    background-size: .05em 4px,.05em 4px,4px 4px;
    background-repeat: no-repeat,no-repeat,repeat-x;
    background-position: 0 90%,100% 90%,0 90%;
    text-decoration: none;
  }

  a:hover{
    color:#ff9f35;
  }
}

.Home_scroll-down{
  text-align: center;


  .btn img{
    width: 40px;
    height: 40px;
  }
}

h2{
  font-size: 5em;
  padding: 2em 0 .3em 0;
  color:black;
}

.About_rap {
  color:black;


  p.text_intro{
    font-size: 2.0em;
    line-height: 1.5em;
    font-weight: 400;
  }

  p.text_rap{
    font-size: 1.7em;
    line-height: 1.8em;
    padding: 0 0 1.5em;
    font-weight: 300;
  }

  .skills{
    padding-top:50px;
  }

  .circle{
    text-align: center;
  }

  .canvas{
    display:inline
  }

  .chart{
    position:relative;
    display: inline-block;
    width:110px;
    height: 110px;
    margin-top:50px;
    margin-bottom: 50px;
    text-align: center;
  }

  .chart canvas{
    position:absolute;
    top:0;
    left:0;

  }

  .percent{
    display: inline-block;
    line-height: 110px;
    z-index: 2;
  }

  .percent:after{
    margin-left:0.1em;
    font-size:8em;
  }
}

.work_contents_rap{
  img{
    cursor:pointer;
    width:100%;
    margin-bottom:15px;
  }
}

.Contact_rap{
  h2 {
    color: black;
  }

  p.text_intro{
    font-size: 2.0em;
    line-height: 1.5em;
    font-weight: 400;
    color:black;
  }

  .contact_form{
    margin-top:50px;
  }

}


