
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.header_logo{
  padding: 0 0 0 5%;
  font-size:2em;
  font-weight: 800;
  float:left;

}

.logo_end{
  color:#ff9f35;
  font-size:1.3em;
}

.header_menu{
  float:right;
  list-style: none;
  margin:0;
  padding:0;

    li{
      list-style: none;
      display:inline-block;
      margin:0 12px;

      a{
        letter-spacing:.12em;
        line-height:1.5em;
        text-decoration:none;
        display:block;
      }
      a:hover{
        color:#ff9f35;
      }
    }
}


