
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


#login_container{
  width:500px;
  height:500px;
  margin:100px auto;
  padding:100px 20px;
  border:1px solid #cccccc;
  border-radius: 10px;
}